<section class="table" *ngIf="products.length > 0">
  <div class="table__button">
    <button class="general-button">Add Product</button>
  </div>
  <div class="table__container">
    <table
      mat-table
      [dataSource]="products"
      class="table__container--content mat-elevation-z8"
    >
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          {{ col }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ col !== "image" ? (col !== "actions" ? element[col] : "") : "" }}
          <img
            *ngIf="col == 'image'"
            [src]="element[col]"
            alt="product-image"
          />
          <div class="buttons">
            <div class="buttons__wrapper">
              <button
                class="general-button"
                *ngIf="col == 'actions'"
                (click)="edit(element)"
              >
                Edit
              </button>
              <button
                class="general-button"
                *ngIf="col == 'actions'"
                (click)="delete(element)"
              >
                Delete
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
