<form class="login" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
  <section class="login__container">
    <h1 class="login__container--title">{{ "SIGN_IN.TITLE" | translate }}</h1>
    <section class="login__container__inputs">
      <input
        formControlName="userName"
        class="login__container__inputs--input"
        [placeholder]="'SIGN_IN.USER_NAME' | translate"
        type="text"
      />
      <input
        formControlName="password"
        class="login__container__inputs--input"
        [placeholder]="'SIGN_IN.PASSWORD' | translate"
        type="password"
      />
    </section>
    <p *ngIf="errorMessage" class="login__container--error">
      user name or password is wrong
    </p>
    <section class="login__container__button">
      <button
        type="submit"
        class="login__container__button--btn general-button"
      >
        {{ "SIGN_IN.SUBMIT" | translate }}
      </button>
    </section>
  </section>
</form>
