.container {
  &__card {
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2.24rem;
    overflow: hidden;
    margin-bottom: 5rem;
    padding-inline-start: 3rem;
  }
}
