<ng-container *ngIf="user$ | async; let user">
  <app-categories></app-categories>
  <section class="container" *ngIf="user.userType == 2">
    <section class="container__card" *ngIf="products$ | async; let products">
      <app-product-card
        *ngFor="let product of products; trackBy: track"
        [product]="product"
      ></app-product-card>
    </section>
  </section>
  <section class="container__table" *ngIf="user.userType == 1">
    <ng-container *ngIf="products$ | async; let products">
      <app-product-table
        *ngIf="products.length > 0"
        [products]="products"
      ></app-product-table>
    </ng-container>
  </section>
</ng-container>
