<figure class="card" *ngIf="product">
  <section class="card__wrapper">
    <header class="card__wrapper__img">
      <img
        class="card__wrapper__img--img"
        [src]="product.image"
        alt="product"
      />
    </header>
    <section class="card__wrapper__info">
      <section class="card__wrapper__info__wrapper">
        <h1 class="card__wrapper__info__wrapper--title">{{ product.title }}</h1>
        <p class="card__wrapper__info__wrapper--desc">
          {{ product.description }}
        </p>
      </section>
      <footer class="card__wrapper__info__wrapper">
        <h2 class="card__wrapper__info__wrapper--title">
          {{ product.price + "$" }}
        </h2>
        <div class="card__wrapper__info__wrapper__button">
          <button class="general-button" (click)="openProductDetails()">
            More details
          </button>
        </div>
      </footer>
    </section>
  </section>
</figure>
