@mixin text-line-clamp($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  border: 1px solid #2e3339;
  height: 30.1rem;
  max-height: 30.1rem;
  width: 100%;
  max-width: 13rem;
  padding: 1.6rem;
  box-shadow: var(--primary-shadow);
  width: -moz-fit-content;
  overflow: auto;
  border-radius: 0.7rem;
  &__wrapper {
    &__img {
      height: 20%;
      width: 100%;
      margin-bottom: 1.6rem;
      &--img {
        max-height: 15rem;
        min-height: 15rem;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &__info {
      padding-inline-start: 1rem;
      &__wrapper {
        &--title {
          font-size: 1rem;
        }
        &--desc {
          font-size: 1rem;
          @include text-line-clamp(2);
        }
        &__button {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}
