.category {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  background-color: #86878c;
  align-items: center;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  white-space: nowrap;
  &--title {
    color: #ffff;
    flex-basis: 20%;
    margin-inline-end: 2rem;
    cursor: pointer;
  }
  &__list {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #ffff;
    align-items: center;
    &--element {
      cursor: pointer;
    }
  }
}
