<section class="product" *ngIf="data.productData">
  <section class="product__image">
    <img class="product__image--img" [src]="data.productData.image" />
  </section>
  <section class="product__details">
    <h1 class="product__details--title">{{ data.productData.title }}</h1>
    <p class="product__details--rate">
      rate : {{ data.productData.rating?.rate }} ,
      {{ data.productData.rating?.count }} People
    </p>
    <p class="product__details--desc">
      {{ data.productData.description }}
    </p>
    <h2 class="product__details--title">{{ data.productData.price }}$</h2>
  </section>
</section>
