.product {
  padding: 2rem;
  width: 25vw;
  &__image {
    width: 100%;
    margin-bottom: 2rem;
    &--img {
      max-height: 25rem;
      min-height: 15rem;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem;
    }
  }
  &__details {
    text-align: center;
    &--rate {
      font-weight: bold;
      color: green;
    }
  }
}
