@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: auto !important;
  min-height: auto !important;
}

body {
  margin: 0;
  font-family: "Cabin", "IBM Plex Sans Arabic", sans-serif;
}

:root {
  --primary-color: #2e3339;
  --primary-shadow: 1px 5px 5px #4c4c4c29;
}

.general-button {
  height: 2.5rem;
  width: 8rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100% !important;
  @media screen and (min-width: 2559px) {
    font-size: 74.5% !important;
  }

  @media screen and (min-width: 4095px) {
    font-size: 72.5% !important;
  }
  @media screen and (max-width: 1024px) {
    font-size: 56.25% !important;
  }

  @media screen and (max-width: 480px) {
    font-size: 50% !important;
  }
}
.product-details-container {
  .mat-dialog-container {
    max-height: 90vh;
    padding: 0;
  }
}

.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
  circle {
  stroke: var(--primary-color);
}

.mat-select {
  height: 100%;
  text-align: start;
  .mat-select-trigger {
    height: 100%;
  }
}
